.newsmth-plus abbr[title],
.newsmth-plus dfn[title] {
  border-bottom: 0.1rem dotted #000;
}

.newsmth-plus hr {
  height: 0.1rem;
  border-top: 0.1rem solid #ccc;
}

.newsmth-plus .ui-timepicker-div .ui-widget-header {
  margin-bottom: 0.8rem;
}

.newsmth-plus .ui-timepicker-div dl dt {
  height: 2.5rem;
  margin-bottom: -2.5rem;
}

.newsmth-plus .ui-timepicker-div dl dd {
  margin: 0 1rem 1rem 6.5rem;
}

body.newsmth-plus {
  font-size: 1.2rem;
}

.newsmth-plus input[type='text'],
.newsmth-plus input[type='password'],
.newsmth-plus input[type='button'],
.newsmth-plus input[type='submit'],
.newsmth-plus select,
.newsmth-plus textarea {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.newsmth-plus input[type='text'],
.newsmth-plus input[type='password'] {
  padding: 0.3rem 0.2rem;
}

.newsmth-plus .input-text,
.newsmth-plus select,
.newsmth-plus textarea {
  border: 0.1rem solid #7f9db9;
  background: -moz-linear-gradient(top, #eee, #fff 0.8rem);
}

.newsmth-plus .input-text:focus,
.newsmth-plus textarea:focus,
.newsmth-plus .ie-input-focus {
  border: 0.1rem solid #fd8000;
  -moz-box-shadow: 0 0 0.2rem #fd8000;
  -webkit-box-shadow: 0 0 0.2rem #fd8000;
  box-shadow: 0 0 0.2rem #fd8000;
}

.newsmth-plus .submit {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #77a2d2;
  font-size: 1.2rem;
  padding: 0.2rem 0.3rem;
  *padding: 0.3rem 0.3rem 0;
}

.newsmth-plus .submitbw {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #777777;
  font-size: 1.2rem;
  padding: 0.2rem 0.3rem;
  *padding: 0.3rem 0.3rem 0;
}

.newsmth-plus .button {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  border: 0.1rem solid #598ede;
  padding: 0.2rem 0.3rem;
  *padding: 0.3rem 0.3rem 0;
}

.newsmth-plus .corner {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.newsmth-plus .tab-normal {
  border: 0.3rem double #fff;
}

.newsmth-plus .pagination {
  padding: 0.3rem 0;
  *padding: 0.2rem 0 0;
}

.newsmth-plus .pagination i {
  padding-right: 0.1rem;
}

.newsmth-plus .pagination li {
  margin-left: 0.2rem;
}

.newsmth-plus .page-pre,
.newsmth-plus .page-suf {
  *height: 1.6rem;
}

.newsmth-plus .page-main a {
  padding: 0.2rem 0.3rem 0.1rem 0.4rem;
}

.newsmth-plus .page-normal a {
  border: 0.3rem double #fff;
}

.newsmth-plus .page-select a {
  border: 0.3rem double #fff;
}

.newsmth-plus .ico-pos-article-normal {
  background-position: -1.6rem -2.1rem;
}

.newsmth-plus .ico-pos-article-light {
  background-position: 0 -2.1rem;
}

.newsmth-plus .ico-pos-article-fire {
  background-position: -15.6rem -2.1rem;
}

.newsmth-plus .ico-pos-article-huo {
  background-position: -17.2rem -2.1rem;
}

.newsmth-plus .ico-pos-article-g {
  background-position: -6.4rem -2.1rem;
}

.newsmth-plus .ico-pos-article-m {
  background-position: -4.8rem -2.1rem;
}

.newsmth-plus .ico-pos-article-b {
  background-position: -14rem -2.1rem;
}

.newsmth-plus .ico-pos-article-top {
  background-position: -8rem -2.1rem;
}

.newsmth-plus .ico-pos-article-lock {
  background-position: -3.2rem -2.1rem;
}

.newsmth-plus .ico-pos-article-dir {
  background-position: -9.6rem -2.1rem;
}

.newsmth-plus .ico-pos-article-attach {
  background-position: -18.9rem -2.2rem;
}

.newsmth-plus .ico-pos-w-collapse-on {
  background-position: -5.2rem -0.1rem;
}

.newsmth-plus .ico-pos-w-collapse-off {
  background-position: -3.8rem -0.1rem;
}

.newsmth-plus .ico-pos-w-rss {
  background-position: -36.1rem -0.3rem;
}

.newsmth-plus .ico-pos-w-update {
  background-position: -12.1rem -0.1rem;
}

.newsmth-plus .ico-pos-w-edit-on {
  background-position: 0 -0.1rem;
}

.newsmth-plus .ico-pos-w-edit-off {
  background-position: -6.6rem -0.1rem;
}

.newsmth-plus .ico-pos-w-remove {
  background-position: -2.4rem -0.1rem;
}

.newsmth-plus .ico-pos-online-hide {
  background-position: -42.8rem -0.3rem;
}

.newsmth-plus .ico-pos-offline-hide {
  background-position: -41.3rem -0.3rem;
}

.newsmth-plus .ico-pos-online-man {
  background-position: -38.3rem -0.2rem;
}

.newsmth-plus .ico-pos-offline-man {
  background-position: -39.8rem -0.2rem;
}

.newsmth-plus .ico-pos-online-woman {
  background-position: -44.3rem -0.2rem;
}

.newsmth-plus .ico-pos-offline-woman {
  background-position: -45.8rem -0.2rem;
}

.newsmth-plus .ico-pos-tag-on {
  background-position: -16rem -0.5rem;
}

.newsmth-plus .ico-pos-tag-off {
  background-position: -17.2rem -0.5rem;
}

.newsmth-plus .ico-pos-cdot {
  background-position: -18.4rem -0.5rem;
}

.newsmth-plus .ico-pos-dot {
  background-position: -37.5rem -0.7rem;
}

.newsmth-plus .ico-pos-forward {
  background-position: -19.6rem -0.2rem;
}

.newsmth-plus .ico-pos-edit {
  background-position: -21.2rem -0.2rem;
}

.newsmth-plus .ico-pos-reply {
  background-position: -22.8rem -0.2rem;
}

.newsmth-plus .ico-pos-query {
  background-position: -24.4rem -0.2rem;
}

.newsmth-plus .ico-pos-friend {
  background-position: -26rem -0.2rem;
}

.newsmth-plus .ico-pos-mess {
  background-position: -27.6rem -0.2rem;
}

.newsmth-plus .ico-pos-del {
  background-position: -29.2rem -0.2rem;
}

.newsmth-plus .ico-pos-recomend {
  background-position: -30.8rem -0.2rem;
}

.newsmth-plus .ico-pos-search {
  background-position: -32.4rem -0.2rem;
}

.newsmth-plus .ico-pos-template {
  background-position: -34rem -0.2rem;
}

.newsmth-plus .ico-pos-hide {
  background-position: -11.2rem -2.1rem;
}

.newsmth-plus .ico-pos-show {
  background-position: -12.6rem -2.1rem;
}

.newsmth-plus .ico-pos-rss {
  background-position: -19.7rem -2.1rem;
}

.newsmth-plus .ico-pos-user {
  background-position: -22.4rem -2.1rem;
}

.newsmth-plus .ico-pos-deny {
  background-position: -23.9rem -2.1rem;
}

.newsmth-plus .ico-pos-manage {
  background-position: -25.5rem -2rem;
}

.newsmth-plus #top_head {
  height: 10.4rem;
  margin: auto 0.3rem;
}

.newsmth-plus #top_menu ul {
  margin-top: 0.7rem;
  margin-right: 1rem;
}

.newsmth-plus #top_menu ul li {
  margin-bottom: 0.5rem;
}

.newsmth-plus #top_logo {
  margin: 1.5rem 0 0;
}

.newsmth-plus #ban_ner {
  margin-top: -9.1rem;
  width: 72.8rem;
  height: 9rem;
  padding: 0.4rem 0.7rem 0 9rem;
}

.newsmth-plus #ban_ner_border {
  border: 0.1rem outset #bbb;
  width: 60rem;
  height: 8rem;
  padding: 0.1rem;
  -moz-box-shadow: 0 0 0.3rem #bbb;
  -webkit-box-shadow: 0 0 0.3rem #bbb;
  -box-shadow: 0 0 0.3rem #bbb;
}

.newsmth-plus #ban_ner a,
.newsmth-plus #ban_ner div.swf_wrapper,
.newsmth-plus #ban_ner div.swf_overlay {
  width: 72.8rem;
  height: 9rem;
}

.newsmth-plus #ban_ner div.swf_overlay {
  margin: -8rem auto 0;
}

.newsmth-plus #ban_ner ul.nav {
  right: 0.7rem;
}

.newsmth-plus #ban_ner ul li {
  margin-bottom: 0.6rem;
}

.newsmth-plus #ban_ner ul.nav li {
  width: 2rem;
  border-left: 0.1rem solid;
  font: 1rem Arial, Helvetica, Sans-Serif;
}

.newsmth-plus #menu {
  width: 15.6rem;
  margin: 0.2rem 0 0 0.3rem;
}

.newsmth-plus #u_login {
  border: 0.1rem solid #c3d9ff;
  padding: 1.1rem 0 0.8rem;
}

.newsmth-plus .u-login-input,
.newsmth-plus .u-login-check,
.newsmth-plus .u-login-op {
  padding: 0.3rem 0;
}

.newsmth-plus .u-login-input .input {
  width: 9.4rem;
  height: 1.4rem;
}

.newsmth-plus .u-login-input span {
  width: 3.6rem;
  padding-right: 0.4rem;
}

.newsmth-plus .u-login-check {
  padding: 0.2rem 0;
  padding-left: 1.7rem;
}

.newsmth-plus .u-login-check input {
  margin-top: -0.2rem;
}

.newsmth-plus .u-login-check label {
  padding-left: 0.8rem;
}

.newsmth-plus .u-login-op .submit {
  width: 6rem;
  margin: 0 -0.2rem 0 1.1rem;
}

.newsmth-plus .u-login-id {
  font-size: 1.4rem;
  padding-left: 0.8rem;
}

.newsmth-plus .u-login-id samp {
  width: 1.2rem;
  height: 1.6rem;
  margin-right: 0.6rem;
}

.newsmth-plus .u-login-id a {
  padding-left: 0.1rem;
}

.newsmth-plus .u-login-list {
  margin-top: 0.4rem;
  margin-left: 2.8rem;
  _margin-left: 2.7rem;
  line-height: 1.8rem;
}

.newsmth-plus #left_line {
  height: 0.3rem;
}

.newsmth-plus #left_line samp {
  width: 1.4rem;
  height: 1.5rem;
  top: -0.7rem;
  right: -0.7rem;
}

.newsmth-plus #xlist {
  padding: 1rem 0.8rem;
  border: 0.1rem solid #c3d9ff;
}

.newsmth-plus #xlist li ul {
  margin-top: 0.3rem;
}

.newsmth-plus .x-folder,
.newsmth-plus .x-leaf {
  height: 2.8rem;
  border-bottom: 0.1rem solid #c9d7f1;
  padding-left: 0.3rem;
  font-size: 1.3rem;
}

.newsmth-plus .x-folder a,
.newsmth-plus .x-leaf a {
  padding-top: 0.7rem;
}

.newsmth-plus .x-folder:hover,
.newsmth-plus .x-leaf:hover {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.newsmth-plus .toggler {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.6rem;
  margin-top: 0.8rem;
}

.newsmth-plus .folder-open > span > .toggler,
.newsmth-plus .folder-open-last > span > .toggler {
  background-position: -16rem -0.6rem;
}

.newsmth-plus .folder-close > span > .toggler,
.newsmth-plus .folder-close-last > span > .toggler {
  background-position: -17.2rem -0.6rem;
}

.newsmth-plus .leaf > span > .toggler,
.newsmth-plus .leaf-last > span > .toggler {
  background-position: -37.5rem -0.7rem;
  width: 0.8rem;
}

.newsmth-plus .folder-open .toggler,
.newsmth-plus .folder-open-last .toggler {
  _background-position: -16rem -0.6rem;
}

.newsmth-plus .folder-close .toggler,
.newsmth-plus .folder-close-last .toggler {
  _background-position: -17.2rem -0.6rem;
}

.newsmth-plus .leaf .toggler,
.newsmth-plus .leaf-last .toggler {
  _background-position: -37.5rem -0.7rem;
  _width: 0.8rem;
}

.newsmth-plus .x-leaf .toggler {
  background-position: -18.4rem -0.6rem;
}

.newsmth-plus .x-child li {
  padding: 0.2rem 0.1rem 0.1rem 0.8rem;
}

.newsmth-plus .leaf-last samp,
.newsmth-plus .leaf samp {
  height: 1.2rem;
  width: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
}

.newsmth-plus .x-search {
  padding-top: 0.1rem;
  padding-bottom: 0.3rem;
}

.newsmth-plus .x-search input {
  width: 10rem;
  height: 1.6rem;
  margin-top: 0.4rem;
}

.newsmth-plus .x-search .toggler {
  margin-top: 1rem;
}

.newsmth-plus #left_adv a,
.newsmth-plus #left_adv div.swf_wrapper,
.newsmth-plus #left_adv div.swf_overlay {
  margin-top: 0.8rem;
}

.newsmth-plus #main {
  margin: 0.2rem 0.3rem 0 16.2rem;
  _margin-left: 16.5rem;
  border: 0.1rem solid #c3d9ff;
  padding: 1rem 0.7rem;
}

.newsmth-plus #notice {
  border: 0.1rem solid #d9e7ff;
  padding: 0.4rem 0.5rem;
  line-height: 1.4rem;
  *padding-bottom: 0.1rem;
}

.newsmth-plus .b-head {
  padding: 0.4rem 1rem 0;
  margin-top: 0.3rem;
  font-size: 1.3rem;
  min-height: 1.8rem;
  _height: 1.8rem;
}

.newsmth-plus .b-head .n-right {
  font-size: 1.2rem;
}

.newsmth-plus .b-content {
  border: 0.1rem solid #d9e7ff;
  padding: 1rem;
  -moz-border-radius: 0 0 0.4rem 0.4rem;
  -webkit-border-radius: 0 0 0.4rem 0.4rem;
  border-radius: 0 0 0.4rem 0.4rem;
}

.newsmth-plus #bot_foot {
  width: 60rem;
  padding: 1.5rem 0 1rem;
}

.newsmth-plus #bot_logo img {
  margin-right: 1.5rem;
  border-right: 0.1rem solid #999999;
  padding-right: 1.5rem;
}

.newsmth-plus #bot_info span {
  font-size: 1.2rem;
}

.newsmth-plus #nforum_tips {
  padding: 0.5rem;
}

.newsmth-plus .a-wrap {
  border: 0.1rem solid #d4e6fc;
  margin: 0.3rem 0;
}

.newsmth-plus .a-left {
  width: 17rem;
  border-right: 0.1rem solid #d4e6fc;
}

.newsmth-plus .a-pos {
  font-size: 1.2rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
}

.newsmth-plus .a-status li {
  height: 1.6rem;
  line-height: 1.6rem;
  margin-left: 1rem;
}

.newsmth-plus .a-status li samp {
  width: 1.6rem;
  height: 1.8rem;
}

.newsmth-plus .a-func li {
  margin-left: 1rem;
}

.newsmth-plus .a-func li a {
  font-size: 1.2rem;
  padding-top: 0.2rem;
}

.newsmth-plus .a-func li span {
  font-size: 1.2rem;
}

.newsmth-plus .a-func li samp {
  margin-right: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;
}

.newsmth-plus .a-func-info li {
  margin-left: 0.6rem;
}

.newsmth-plus .a-u-name {
  margin-left: 1.5rem;
  padding-top: 0.2rem;
}

.newsmth-plus .a-u-sex {
  margin-right: 0.8rem;
}

.newsmth-plus .a-u-sex samp {
  width: 1.5rem;
  height: 1.7rem;
}

.newsmth-plus .a-u-img {
  width: 12.4rem;
  margin: 1.2rem auto 0.8rem;
}

.newsmth-plus .a-u-img img {
  border: 0.1rem solid #ccc;
  padding: 0.2rem;
}

.newsmth-plus .a-u-uid,
.newsmth-plus .a-u-info {
  width: 12rem;
  margin-bottom: 0.8rem;
}

.newsmth-plus .a-u-info dt {
  width: 5rem;
}

.newsmth-plus .a-u-info dd {
  width: 7rem;
}

.newsmth-plus .a-content {
  padding: 1rem;
  font-size: 1.3rem;
}

.newsmth-plus .a-content img.resizeable {
  -moz-box-shadow: 0.3rem 0.3rem 0.6rem #333;
  -webkit-box-shadow: 0.3rem 0.3rem 0.6rem #333;
  box-shadow: 0.3rem 0.3rem 0.6rem #333;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  *border: 0.1rem solid #ccc;
  *padding: 0.2rem;
}

.newsmth-plus .a-head {
  height: 2.2rem;
}

.newsmth-plus .a-bottom {
  font-size: 1.2rem;
  height: 2.3rem;
}

.newsmth-plus .a-back {
  padding-right: 0.5rem;
}

.newsmth-plus #a_forward li {
  padding: 0.4rem 0 0.4rem 0.4rem;
}

.newsmth-plus #a_forward li span {
  padding-right: 0.4rem;
}

.newsmth-plus #a_forward .input-text {
  width: 12rem;
  margin-right: 0.4rem;
}

.newsmth-plus #a_docross li {
  padding: 0.4rem 0 0.4rem 0.4rem;
}

.newsmth-plus #a_docross li span {
  padding-right: 0.4rem;
}

.newsmth-plus #a_docross .input-text {
  width: 12rem;
  margin-right: 0.4rem;
}

.newsmth-plus .rc1,
.newsmth-plus .rc2,
.newsmth-plus .rc3 {
  height: 0.1rem;
  line-height: 0.1rem;
}

.newsmth-plus .rc1 {
  margin: 0 0.4rem;
}

.newsmth-plus .rc2 {
  margin: 0 0.2rem;
  border-width: 0 0.2rem;
}

.newsmth-plus .rc3 {
  margin: 0 0.1rem;
  border-width: 0 0.1rem;
  height: 0.2rem;
}

.newsmth-plus .mbar {
  padding-top: 0.5rem;
  margin-top: 0.3rem;
  -moz-border-radius: 0.4rem 0.4rem 0 0;
  -webkit-border-radius: 0.4rem 0.4rem 0 0;
  border-radius: 0.4rem 0.4rem 0 0;
}

.newsmth-plus .mbar li {
  margin-left: 1.2rem;
  _margin-left: 0.8rem;
}

.newsmth-plus .mbar a {
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem 0.5rem;
}

.newsmth-plus .mbar a:hover {
  -moz-border-radius: 0.4rem 0.4rem 0 0;
  -webkit-border-radius: 0.4rem 0.4rem 0 0;
  border-radius: 0.4rem 0.4rem 0 0;
}

.newsmth-plus .mbar .selected a {
  -moz-border-radius: 0.4rem 0.4rem 0 0;
  -webkit-border-radius: 0.4rem 0.4rem 0 0;
  border-radius: 0.4rem 0.4rem 0 0;
}

.newsmth-plus .c-mbar {
  border-left: 0.1rem solid #d9e7ff;
  border-right: 0.1rem solid #d9e7ff;
  padding: 0.5rem;
  _height: 2.5rem;
}

.newsmth-plus .c-mbar li {
  margin-left: 0.8rem;
}

.newsmth-plus .c-mbar li a {
  font-size: 1.3rem;
  padding: 0.4rem 0.7rem;
  padding: 0.5rem 0.7rem 0.3rem\9;
}

.newsmth-plus .c-mbar li .select {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.newsmth-plus .c-mbar li a:hover {
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.newsmth-plus .c-mbar li a samp {
  width: 0.8rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}

.newsmth-plus .m-table th,
.newsmth-plus .m-table td {
  border-bottom: 0.1rem solid #c9d7f1;
  height: 2.6rem;
}

.newsmth-plus .board-list th {
  padding-top: 0.3rem;
  padding-top: 0.5rem\9;
  padding-bottom: 0.2rem;
}

.newsmth-plus .board-list thead tr {
  border: 0.1rem solid #f2df95;
}

.newsmth-plus .board-list td {
  border-bottom: 0.1rem solid #dce9f5;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
}

.newsmth-plus .board-list tr:first-child td {
  padding-top: 1.3rem;
}

.newsmth-plus .u-query {
  padding: 1rem 1rem 0;
}

.newsmth-plus .u-name {
  font-size: 1.4rem;
}

.newsmth-plus .u-name a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.newsmth-plus .u-info {
  padding-top: 1rem;
}

.newsmth-plus .u-info header {
  border-bottom: 0.1rem solid #c7c8c9;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  font-size: 1.4rem;
}

.newsmth-plus .u-info figure {
  width: 13rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.newsmth-plus .u-info figure img {
  max-width: 12.6rem;
  max-height: 12.6rem;
  padding: 0.2rem;
  border: 0.1rem solid #598edd;
}

.newsmth-plus .u-info dl {
  width: 40rem;
}

.newsmth-plus .u-info dt {
  width: 5rem;
  padding-right: 1rem;
}

.newsmth-plus .u-info dd {
  width: 34rem;
}

.newsmth-plus .u-detail dl {
  width: 50rem;
  margin-bottom: 0.5rem;
}

.newsmth-plus .u-detail dt {
  width: 8rem;
}

.newsmth-plus .u-detail dd {
  width: 40rem;
}

.newsmth-plus .u-plans div.plans {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  border-top: 0.1rem solid #c7c8c9;
}

.newsmth-plus .u-search {
  border-top: 0.1rem #c7c8c9 solid;
  padding-top: 1rem;
}

.newsmth-plus .u-search .input-text {
  height: 1.6rem;
  width: 15rem;
  margin-right: 0.5rem;
}

.newsmth-plus .m-op {
  padding: 0.3rem;
}

.newsmth-plus .m-func li {
  margin-left: 1rem;
}

.newsmth-plus .m-func li a {
  font-size: 1.2rem;
  padding-top: 0.2rem;
}

.newsmth-plus .m-func li samp {
  margin-right: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;
}

.newsmth-plus .m-content {
  padding: 1rem 1.7rem;
  font-size: 1.3rem;
}

.newsmth-plus .list-block header {
  font-size: 1.4rem;
  padding: 0 1rem 0.2rem 0.7rem;
  border-bottom: 0.1rem solid #c9d7f1;
}

.newsmth-plus .list-block ul {
  padding: 2rem 0 0 2rem;
}

.newsmth-plus .list-block ul li {
  margin-bottom: 1rem;
}

.newsmth-plus .list-block ul.narrow {
  padding: 1rem 0 0 1rem;
}

.newsmth-plus .list-block ul.narrow li {
  margin-bottom: 0.5rem;
}

.newsmth-plus .ui-helper-hidden-accessible {
  clip: rect(0.1rem 0.1rem 0.1rem 0.1rem);
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
}

.newsmth-plus .ui-icon {
  text-indent: -9999.9rem;
}

.newsmth-plus .ui-widget-content {
  border: 0.1rem solid #a6c9e2;
}

.newsmth-plus .ui-widget-header {
  border: 0.1rem solid #4297d7;
}

.newsmth-plus .ui-state-default,
.newsmth-plus .ui-widget-content .ui-state-default,
.newsmth-plus .ui-widget-header .ui-state-default {
  border: 0.1rem solid #c5dbec;
}

.newsmth-plus .ui-state-hover,
.newsmth-plus .ui-widget-content .ui-state-hover,
.newsmth-plus .ui-widget-header .ui-state-hover,
.newsmth-plus .ui-state-focus,
.newsmth-plus .ui-widget-content .ui-state-focus,
.newsmth-plus .ui-widget-header .ui-state-focus {
  border: 0.1rem solid #79b7e7;
}

.newsmth-plus .ui-state-active,
.newsmth-plus .ui-widget-content .ui-state-active,
.newsmth-plus .ui-widget-header .ui-state-active {
  border: 0.1rem solid #79b7e7;
}

.newsmth-plus .ui-state-highlight,
.newsmth-plus .ui-widget-content .ui-state-highlight,
.newsmth-plus .ui-widget-header .ui-state-highlight {
  border: 0.1rem solid #fad42e;
}

.newsmth-plus .ui-state-error,
.newsmth-plus .ui-widget-content .ui-state-error,
.newsmth-plus .ui-widget-header .ui-state-error {
  border: 0.1rem solid #cd0a0a;
}

.newsmth-plus .ui-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.newsmth-plus .ui-icon-carat-1-ne {
  background-position: -1.6rem 0;
}

.newsmth-plus .ui-icon-carat-1-e {
  background-position: -3.2rem 0;
}

.newsmth-plus .ui-icon-carat-1-se {
  background-position: -4.8rem 0;
}

.newsmth-plus .ui-icon-carat-1-s {
  background-position: -6.4rem 0;
}

.newsmth-plus .ui-icon-carat-1-sw {
  background-position: -8rem 0;
}

.newsmth-plus .ui-icon-carat-1-w {
  background-position: -9.6rem 0;
}

.newsmth-plus .ui-icon-carat-1-nw {
  background-position: -11.2rem 0;
}

.newsmth-plus .ui-icon-carat-2-n-s {
  background-position: -12.8rem 0;
}

.newsmth-plus .ui-icon-carat-2-e-w {
  background-position: -14.4rem 0;
}

.newsmth-plus .ui-icon-triangle-1-n {
  background-position: 0 -1.6rem;
}

.newsmth-plus .ui-icon-triangle-1-ne {
  background-position: -1.6rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-1-e {
  background-position: -3.2rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-1-se {
  background-position: -4.8rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-1-s {
  background-position: -6.4rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-1-sw {
  background-position: -8rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-1-w {
  background-position: -9.6rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-1-nw {
  background-position: -11.2rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-2-n-s {
  background-position: -12.8rem -1.6rem;
}

.newsmth-plus .ui-icon-triangle-2-e-w {
  background-position: -14.4rem -1.6rem;
}

.newsmth-plus .ui-icon-arrow-1-n {
  background-position: 0 -3.2rem;
}

.newsmth-plus .ui-icon-arrow-1-ne {
  background-position: -1.6rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-1-e {
  background-position: -3.2rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-1-se {
  background-position: -4.8rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-1-s {
  background-position: -6.4rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-1-sw {
  background-position: -8rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-1-w {
  background-position: -9.6rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-1-nw {
  background-position: -11.2rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-2-n-s {
  background-position: -12.8rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-2-ne-sw {
  background-position: -14.4rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-2-e-w {
  background-position: -16rem -3.2rem;
}

.newsmth-plus .ui-icon-arrow-2-se-nw {
  background-position: -17.6rem -3.2rem;
}

.newsmth-plus .ui-icon-arrowstop-1-n {
  background-position: -19.2rem -3.2rem;
}

.newsmth-plus .ui-icon-arrowstop-1-e {
  background-position: -20.8rem -3.2rem;
}

.newsmth-plus .ui-icon-arrowstop-1-s {
  background-position: -22.4rem -3.2rem;
}

.newsmth-plus .ui-icon-arrowstop-1-w {
  background-position: -24rem -3.2rem;
}

.newsmth-plus .ui-icon-arrowthick-1-n {
  background-position: 0 -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-1-ne {
  background-position: -1.6rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-1-e {
  background-position: -3.2rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-1-se {
  background-position: -4.8rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-1-s {
  background-position: -6.4rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-1-sw {
  background-position: -8rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-1-w {
  background-position: -9.6rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-1-nw {
  background-position: -11.2rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-2-n-s {
  background-position: -12.8rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-2-ne-sw {
  background-position: -14.4rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-2-e-w {
  background-position: -16rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthick-2-se-nw {
  background-position: -17.6rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthickstop-1-n {
  background-position: -19.2rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthickstop-1-e {
  background-position: -20.8rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthickstop-1-s {
  background-position: -22.4rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowthickstop-1-w {
  background-position: -24rem -4.8rem;
}

.newsmth-plus .ui-icon-arrowreturnthick-1-w {
  background-position: 0 -6.4rem;
}

.newsmth-plus .ui-icon-arrowreturnthick-1-n {
  background-position: -1.6rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowreturnthick-1-e {
  background-position: -3.2rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowreturnthick-1-s {
  background-position: -4.8rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowreturn-1-w {
  background-position: -6.4rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowreturn-1-n {
  background-position: -8rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowreturn-1-e {
  background-position: -9.6rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowreturn-1-s {
  background-position: -11.2rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowrefresh-1-w {
  background-position: -12.8rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowrefresh-1-n {
  background-position: -14.4rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowrefresh-1-e {
  background-position: -16rem -6.4rem;
}

.newsmth-plus .ui-icon-arrowrefresh-1-s {
  background-position: -17.6rem -6.4rem;
}

.newsmth-plus .ui-icon-arrow-4 {
  background-position: 0 -8rem;
}

.newsmth-plus .ui-icon-arrow-4-diag {
  background-position: -1.6rem -8rem;
}

.newsmth-plus .ui-icon-extlink {
  background-position: -3.2rem -8rem;
}

.newsmth-plus .ui-icon-newwin {
  background-position: -4.8rem -8rem;
}

.newsmth-plus .ui-icon-refresh {
  background-position: -6.4rem -8rem;
}

.newsmth-plus .ui-icon-shuffle {
  background-position: -8rem -8rem;
}

.newsmth-plus .ui-icon-transfer-e-w {
  background-position: -9.6rem -8rem;
}

.newsmth-plus .ui-icon-transferthick-e-w {
  background-position: -11.2rem -8rem;
}

.newsmth-plus .ui-icon-folder-collapsed {
  background-position: 0 -9.6rem;
}

.newsmth-plus .ui-icon-folder-open {
  background-position: -1.6rem -9.6rem;
}

.newsmth-plus .ui-icon-document {
  background-position: -3.2rem -9.6rem;
}

.newsmth-plus .ui-icon-document-b {
  background-position: -4.8rem -9.6rem;
}

.newsmth-plus .ui-icon-note {
  background-position: -6.4rem -9.6rem;
}

.newsmth-plus .ui-icon-mail-closed {
  background-position: -8rem -9.6rem;
}

.newsmth-plus .ui-icon-mail-open {
  background-position: -9.6rem -9.6rem;
}

.newsmth-plus .ui-icon-suitcase {
  background-position: -11.2rem -9.6rem;
}

.newsmth-plus .ui-icon-comment {
  background-position: -12.8rem -9.6rem;
}

.newsmth-plus .ui-icon-person {
  background-position: -14.4rem -9.6rem;
}

.newsmth-plus .ui-icon-print {
  background-position: -16rem -9.6rem;
}

.newsmth-plus .ui-icon-trash {
  background-position: -17.6rem -9.6rem;
}

.newsmth-plus .ui-icon-locked {
  background-position: -19.2rem -9.6rem;
}

.newsmth-plus .ui-icon-unlocked {
  background-position: -20.8rem -9.6rem;
}

.newsmth-plus .ui-icon-bookmark {
  background-position: -22.4rem -9.6rem;
}

.newsmth-plus .ui-icon-tag {
  background-position: -24rem -9.6rem;
}

.newsmth-plus .ui-icon-home {
  background-position: 0 -11.2rem;
}

.newsmth-plus .ui-icon-flag {
  background-position: -1.6rem -11.2rem;
}

.newsmth-plus .ui-icon-calendar {
  background-position: -3.2rem -11.2rem;
}

.newsmth-plus .ui-icon-cart {
  background-position: -4.8rem -11.2rem;
}

.newsmth-plus .ui-icon-pencil {
  background-position: -6.4rem -11.2rem;
}

.newsmth-plus .ui-icon-clock {
  background-position: -8rem -11.2rem;
}

.newsmth-plus .ui-icon-disk {
  background-position: -9.6rem -11.2rem;
}

.newsmth-plus .ui-icon-calculator {
  background-position: -11.2rem -11.2rem;
}

.newsmth-plus .ui-icon-zoomin {
  background-position: -12.8rem -11.2rem;
}

.newsmth-plus .ui-icon-zoomout {
  background-position: -14.4rem -11.2rem;
}

.newsmth-plus .ui-icon-search {
  background-position: -16rem -11.2rem;
}

.newsmth-plus .ui-icon-wrench {
  background-position: -17.6rem -11.2rem;
}

.newsmth-plus .ui-icon-gear {
  background-position: -19.2rem -11.2rem;
}

.newsmth-plus .ui-icon-heart {
  background-position: -20.8rem -11.2rem;
}

.newsmth-plus .ui-icon-star {
  background-position: -22.4rem -11.2rem;
}

.newsmth-plus .ui-icon-link {
  background-position: -24rem -11.2rem;
}

.newsmth-plus .ui-icon-cancel {
  background-position: 0 -12.8rem;
}

.newsmth-plus .ui-icon-plus {
  background-position: -1.6rem -12.8rem;
}

.newsmth-plus .ui-icon-plusthick {
  background-position: -3.2rem -12.8rem;
}

.newsmth-plus .ui-icon-minus {
  background-position: -4.8rem -12.8rem;
}

.newsmth-plus .ui-icon-minusthick {
  background-position: -6.4rem -12.8rem;
}

.newsmth-plus .ui-icon-close {
  background-position: -8rem -12.8rem;
}

.newsmth-plus .ui-icon-closethick {
  background-position: -9.6rem -12.8rem;
}

.newsmth-plus .ui-icon-key {
  background-position: -11.2rem -12.8rem;
}

.newsmth-plus .ui-icon-lightbulb {
  background-position: -12.8rem -12.8rem;
}

.newsmth-plus .ui-icon-scissors {
  background-position: -14.4rem -12.8rem;
}

.newsmth-plus .ui-icon-clipboard {
  background-position: -16rem -12.8rem;
}

.newsmth-plus .ui-icon-copy {
  background-position: -17.6rem -12.8rem;
}

.newsmth-plus .ui-icon-contact {
  background-position: -19.2rem -12.8rem;
}

.newsmth-plus .ui-icon-image {
  background-position: -20.8rem -12.8rem;
}

.newsmth-plus .ui-icon-video {
  background-position: -22.4rem -12.8rem;
}

.newsmth-plus .ui-icon-script {
  background-position: -24rem -12.8rem;
}

.newsmth-plus .ui-icon-alert {
  background-position: 0 -14.4rem;
}

.newsmth-plus .ui-icon-info {
  background-position: -1.6rem -14.4rem;
}

.newsmth-plus .ui-icon-notice {
  background-position: -3.2rem -14.4rem;
}

.newsmth-plus .ui-icon-help {
  background-position: -4.8rem -14.4rem;
}

.newsmth-plus .ui-icon-check {
  background-position: -6.4rem -14.4rem;
}

.newsmth-plus .ui-icon-bullet {
  background-position: -8rem -14.4rem;
}

.newsmth-plus .ui-icon-radio-off {
  background-position: -9.6rem -14.4rem;
}

.newsmth-plus .ui-icon-radio-on {
  background-position: -11.2rem -14.4rem;
}

.newsmth-plus .ui-icon-pin-w {
  background-position: -12.8rem -14.4rem;
}

.newsmth-plus .ui-icon-pin-s {
  background-position: -14.4rem -14.4rem;
}

.newsmth-plus .ui-icon-play {
  background-position: 0 -16rem;
}

.newsmth-plus .ui-icon-pause {
  background-position: -1.6rem -16rem;
}

.newsmth-plus .ui-icon-seek-next {
  background-position: -3.2rem -16rem;
}

.newsmth-plus .ui-icon-seek-prev {
  background-position: -4.8rem -16rem;
}

.newsmth-plus .ui-icon-seek-end {
  background-position: -6.4rem -16rem;
}

.newsmth-plus .ui-icon-seek-start {
  background-position: -8rem -16rem;
}

.newsmth-plus .ui-icon-seek-first {
  background-position: -8rem -16rem;
}

.newsmth-plus .ui-icon-stop {
  background-position: -9.6rem -16rem;
}

.newsmth-plus .ui-icon-eject {
  background-position: -11.2rem -16rem;
}

.newsmth-plus .ui-icon-volume-off {
  background-position: -12.8rem -16rem;
}

.newsmth-plus .ui-icon-volume-on {
  background-position: -14.4rem -16rem;
}

.newsmth-plus .ui-icon-power {
  background-position: 0 -17.6rem;
}

.newsmth-plus .ui-icon-signal-diag {
  background-position: -1.6rem -17.6rem;
}

.newsmth-plus .ui-icon-signal {
  background-position: -3.2rem -17.6rem;
}

.newsmth-plus .ui-icon-battery-0 {
  background-position: -4.8rem -17.6rem;
}

.newsmth-plus .ui-icon-battery-1 {
  background-position: -6.4rem -17.6rem;
}

.newsmth-plus .ui-icon-battery-2 {
  background-position: -8rem -17.6rem;
}

.newsmth-plus .ui-icon-battery-3 {
  background-position: -9.6rem -17.6rem;
}

.newsmth-plus .ui-icon-circle-plus {
  background-position: 0 -19.2rem;
}

.newsmth-plus .ui-icon-circle-minus {
  background-position: -1.6rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-close {
  background-position: -3.2rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-triangle-e {
  background-position: -4.8rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-triangle-s {
  background-position: -6.4rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-triangle-w {
  background-position: -8rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-triangle-n {
  background-position: -9.6rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-arrow-e {
  background-position: -11.2rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-arrow-s {
  background-position: -12.8rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-arrow-w {
  background-position: -14.4rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-arrow-n {
  background-position: -16rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-zoomin {
  background-position: -17.6rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-zoomout {
  background-position: -19.2rem -19.2rem;
}

.newsmth-plus .ui-icon-circle-check {
  background-position: -20.8rem -19.2rem;
}

.newsmth-plus .ui-icon-circlesmall-plus {
  background-position: 0 -20.8rem;
}

.newsmth-plus .ui-icon-circlesmall-minus {
  background-position: -1.6rem -20.8rem;
}

.newsmth-plus .ui-icon-circlesmall-close {
  background-position: -3.2rem -20.8rem;
}

.newsmth-plus .ui-icon-squaresmall-plus {
  background-position: -4.8rem -20.8rem;
}

.newsmth-plus .ui-icon-squaresmall-minus {
  background-position: -6.4rem -20.8rem;
}

.newsmth-plus .ui-icon-squaresmall-close {
  background-position: -8rem -20.8rem;
}

.newsmth-plus .ui-icon-grip-dotted-vertical {
  background-position: 0 -22.4rem;
}

.newsmth-plus .ui-icon-grip-dotted-horizontal {
  background-position: -1.6rem -22.4rem;
}

.newsmth-plus .ui-icon-grip-solid-vertical {
  background-position: -3.2rem -22.4rem;
}

.newsmth-plus .ui-icon-grip-solid-horizontal {
  background-position: -4.8rem -22.4rem;
}

.newsmth-plus .ui-icon-gripsmall-diagonal-se {
  background-position: -6.4rem -22.4rem;
}

.newsmth-plus .ui-icon-grip-diagonal-se {
  background-position: -8rem -22.4rem;
}

.newsmth-plus .ui-corner-all,
.newsmth-plus .ui-corner-top,
.newsmth-plus .ui-corner-left,
.newsmth-plus .ui-corner-tl {
  -moz-border-radius-topleft: 0.5rem;
  -webkit-border-top-left-radius: 0.5rem;
  -khtml-border-top-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.newsmth-plus .ui-corner-all,
.newsmth-plus .ui-corner-top,
.newsmth-plus .ui-corner-right,
.newsmth-plus .ui-corner-tr {
  -moz-border-radius-topright: 0.5rem;
  -webkit-border-top-right-radius: 0.5rem;
  -khtml-border-top-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.newsmth-plus .ui-corner-all,
.newsmth-plus .ui-corner-bottom,
.newsmth-plus .ui-corner-left,
.newsmth-plus .ui-corner-bl {
  -moz-border-radius-bottomleft: 0.5rem;
  -webkit-border-bottom-left-radius: 0.5rem;
  -khtml-border-bottom-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.newsmth-plus .ui-corner-all,
.newsmth-plus .ui-corner-bottom,
.newsmth-plus .ui-corner-right,
.newsmth-plus .ui-corner-br {
  -moz-border-radius-bottomright: 0.5rem;
  -webkit-border-bottom-right-radius: 0.5rem;
  -khtml-border-bottom-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.newsmth-plus .ui-widget-shadow {
  margin: -0.8rem 0 0 -0.8rem;
  padding: 0.8rem;
  -moz-border-radius: 0.8rem;
  -khtml-border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
}

.newsmth-plus .ui-button-icon-only .ui-button-text,
.newsmth-plus .ui-button-icons-only .ui-button-text {
  text-indent: -999999.9rem;
}

.newsmth-plus .ui-button-icon-only .ui-icon,
.newsmth-plus .ui-button-text-icon-primary .ui-icon,
.newsmth-plus .ui-button-text-icon-secondary .ui-icon,
.newsmth-plus .ui-button-text-icons .ui-icon,
.newsmth-plus .ui-button-icons-only .ui-icon {
  margin-top: -0.8rem;
}

.newsmth-plus .ui-button-icon-only .ui-icon {
  margin-left: -0.8rem;
}

.newsmth-plus .ui-buttonset {
  margin-right: 0.7rem;
}

.newsmth-plus .ui-dialog {
  width: 30rem;
}

.newsmth-plus .ui-dialog .ui-dialog-title {
  margin: 0.1em 1.6rem 0.1em 0;
}

.newsmth-plus .ui-dialog .ui-dialog-titlebar-close {
  width: 1.9rem;
  margin: -1rem 0 0 0;
  padding: 0.1rem;
  height: 1.8rem;
}

.newsmth-plus .ui-dialog .ui-dialog-titlebar-close span {
  margin: 0.1rem;
}

.newsmth-plus .ui-dialog .ui-dialog-buttonpane {
  border-width: 0.1rem 0 0 0;
}

.newsmth-plus .ui-dialog .ui-resizable-se {
  width: 1.4rem;
  height: 1.4rem;
  right: 0.3rem;
  bottom: 0.3rem;
}

.newsmth-plus .ui-slider-vertical {
  height: 10rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-prev,
.newsmth-plus .ui-datepicker .ui-datepicker-next {
  top: 0.2rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-prev-hover,
.newsmth-plus .ui-datepicker .ui-datepicker-next-hover {
  top: 0.1rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-prev {
  left: 0.2rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-next {
  right: 0.2rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-prev-hover {
  left: 0.1rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-next-hover {
  right: 0.1rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-prev span,
.newsmth-plus .ui-datepicker .ui-datepicker-next span {
  margin-left: -0.8rem;
  margin-top: -0.8rem;
}

.newsmth-plus .ui-datepicker .ui-datepicker-title select {
  margin: 0.1rem 0;
}

.newsmth-plus .ui-datepicker td {
  padding: 0.1rem;
}

.newsmth-plus .ui-datepicker-rtl .ui-datepicker-prev {
  right: 0.2rem;
}

.newsmth-plus .ui-datepicker-rtl .ui-datepicker-next {
  left: 0.2rem;
}

.newsmth-plus .ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 0.1rem;
}

.newsmth-plus .ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 0.1rem;
}

.newsmth-plus .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0.1rem;
}

.newsmth-plus .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0.1rem;
}

.newsmth-plus .ui-datepicker-cover {
  top: -0.4rem;
  left: -0.4rem;
  width: 20rem;
  height: 20rem;
}

.newsmth-plus div.jp-audio,
.newsmth-plus div.jp-audio-stream,
.newsmth-plus div.jp-video {
  border: 0.1rem solid #009be3;
}

.newsmth-plus div.jp-audio {
  width: 62rem;
}

.newsmth-plus div.jp-audio-stream {
  width: 18.2rem;
}

.newsmth-plus div.jp-video-270p {
  width: 48rem;
}

.newsmth-plus div.jp-video-360p {
  width: 64rem;
}

.newsmth-plus div.jp-video-full {
  width: 48rem;
  height: 27rem;
}

.newsmth-plus div.jp-audio div.jp-type-single div.jp-interface {
  height: 6rem;
}

.newsmth-plus div.jp-audio div.jp-type-playlist div.jp-interface {
  height: 8rem;
}

.newsmth-plus div.jp-audio-stream div.jp-type-single div.jp-interface {
  height: 8rem;
}

.newsmth-plus div.jp-video div.jp-interface {
  border-top: 0.1rem solid #009be3;
}

.newsmth-plus div.jp-controls-holder {
  width: 44rem;
  top: -0.8rem;
}

.newsmth-plus div.jp-audio ul.jp-controls {
  width: 58rem;
  padding: 1rem 2rem 0 2rem;
}

.newsmth-plus div.jp-audio-stream ul.jp-controls {
  width: 14.2rem;
  padding: 2rem 2rem 0 2rem;
}

.newsmth-plus div.jp-video div.jp-type-single ul.jp-controls {
  width: 7.8rem;
  margin-left: 20rem;
}

.newsmth-plus div.jp-video div.jp-type-playlist ul.jp-controls {
  width: 13.4rem;
  margin-left: 17.2rem;
}

.newsmth-plus div.jp-interface ul.jp-controls a {
  text-indent: -999.9rem;
}

.newsmth-plus a.jp-play,
.newsmth-plus a.jp-pause {
  width: 4rem;
  height: 4rem;
}

.newsmth-plus a.jp-stop,
.newsmth-plus a.jp-previous,
.newsmth-plus a.jp-next {
  width: 2.8rem;
  height: 2.8rem;
  margin-top: 0.6rem;
}

.newsmth-plus a.jp-stop {
  margin-left: 1rem;
}

.newsmth-plus div.jp-audio div.jp-progress {
  top: 1.6rem;
  height: 1.5rem;
}

.newsmth-plus div.jp-audio div.jp-type-single div.jp-progress {
  left: 11rem;
  width: 38.6rem;
}

.newsmth-plus div.jp-audio div.jp-type-playlist div.jp-progress {
  left: 16.6rem;
  width: 13rem;
}

.newsmth-plus div.jp-video div.jp-progress {
  height: 1rem;
}

.newsmth-plus a.jp-mute,
.newsmth-plus a.jp-unmute,
.newsmth-plus a.jp-volume-max {
  width: 1.8rem;
  height: 1.5rem;
  margin-top: 1.2rem;
}

.newsmth-plus div.jp-audio div.jp-type-single a.jp-mute,
.newsmth-plus div.jp-audio div.jp-type-single a.jp-unmute {
  margin-left: 41rem;
}

.newsmth-plus div.jp-audio div.jp-type-playlist a.jp-mute,
.newsmth-plus div.jp-audio div.jp-type-playlist a.jp-unmute {
  margin-left: 15.4rem;
}

.newsmth-plus div.jp-audio-stream div.jp-type-single a.jp-mute,
.newsmth-plus div.jp-audio-stream div.jp-type-single a.jp-unmute {
  margin-left: 1rem;
}

.newsmth-plus div.jp-audio a.jp-volume-max,
.newsmth-plus div.jp-audio-stream a.jp-volume-max {
  margin-left: 5.6rem;
}

.newsmth-plus div.jp-video a.jp-mute,
.newsmth-plus div.jp-video a.jp-unmute,
.newsmth-plus div.jp-video a.jp-volume-max {
  top: 1.2rem;
}

.newsmth-plus div.jp-video a.jp-mute,
.newsmth-plus div.jp-video a.jp-unmute {
  left: 5rem;
}

.newsmth-plus div.jp-video a.jp-volume-max {
  left: 13.4rem;
}

.newsmth-plus div.jp-volume-bar {
  width: 4.6rem;
  height: 0.5rem;
}

.newsmth-plus div.jp-audio div.jp-volume-bar {
  top: 2.7rem;
  left: 53rem;
}

.newsmth-plus div.jp-audio-stream div.jp-volume-bar {
  top: 3.7rem;
  left: 9.2rem;
}

.newsmth-plus div.jp-video div.jp-volume-bar {
  top: 1.7rem;
  left: 7.2rem;
}

.newsmth-plus div.jp-volume-bar-value {
  height: 0.5rem;
}

.newsmth-plus div.jp-audio div.jp-time-holder {
  top: 3.4rem;
}

.newsmth-plus div.jp-audio div.jp-type-single div.jp-time-holder {
  left: 11rem;
  width: 38.6rem;
}

.newsmth-plus div.jp-audio div.jp-type-playlist div.jp-time-holder {
  left: 16.6rem;
  width: 13rem;
}

.newsmth-plus div.jp-current-time,
.newsmth-plus div.jp-duration {
  width: 6rem;
}

.newsmth-plus div.jp-video div.jp-current-time {
  margin-left: 2rem;
}

.newsmth-plus div.jp-video div.jp-duration {
  margin-right: 2rem;
}

.newsmth-plus div.jp-title,
.newsmth-plus div.jp-playlist {
  border-top: 0.1rem solid #009be3;
}

.newsmth-plus div.jp-title ul,
.newsmth-plus div.jp-playlist ul {
  padding: 0 2rem;
}

.newsmth-plus div.jp-title li {
  padding: 0.5rem 0;
}

.newsmth-plus div.jp-playlist li {
  padding: 0.5rem 0 0.4rem 2rem;
  border-bottom: 0.1rem solid #eee;
}

.newsmth-plus div.jp-type-playlist div.jp-playlist li:last-child {
  padding: 0.5rem 0 0.5rem 2rem;
}

.newsmth-plus div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
  padding-left: 0.7rem;
}

.newsmth-plus div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
  margin-right: 1rem;
}

.newsmth-plus div.jp-type-playlist div.jp-playlist span.jp-free-media {
  margin-right: 1rem;
}

.newsmth-plus div.jp-video-270p div.jp-video-play {
  margin-top: -27rem;
  height: 27rem;
}

.newsmth-plus div.jp-video-360p div.jp-video-play {
  margin-top: -36rem;
  height: 36rem;
}

.newsmth-plus a.jp-video-play-icon {
  width: 11.2rem;
  height: 10rem;
  margin-left: -5.6rem;
  margin-top: -5rem;
  text-indent: -999.9rem;
}

.newsmth-plus div.jp-audio .jp-type-single ul.jp-toggles {
  width: 2.5rem;
}

.newsmth-plus div.jp-audio .jp-type-playlist ul.jp-toggles {
  width: 5.5rem;
  left: 32.5rem;
  top: 5rem;
}

.newsmth-plus div.jp-video ul.jp-toggles {
  margin-top: 1rem;
  width: 10rem;
}

.newsmth-plus ul.jp-toggles li a {
  width: 2.5rem;
  height: 1.8rem;
  text-indent: -999.9rem;
}

.newsmth-plus a.jp-full-screen {
  margin-left: 2rem;
}

.newsmth-plus a.jp-restore-screen {
  margin-left: 2rem;
}

.newsmth-plus a.jp-shuffle {
  margin-left: 0.5rem;
}

.newsmth-plus a.jp-shuffle-off {
  margin-left: 0.5rem;
}

.newsmth-plus .jp-no-solution {
  padding: 0.5rem;
  border: 0.2rem solid #009be3;
}

.newsmth-plus #ubb_wrap .ubb-icon {
  margin-top: 0.3rem;
}

.newsmth-plus .ubb-img-tab {
  padding: 0.3rem;
}

.newsmth-plus .ubb-img-tab li {
  margin-left: 0.1rem;
  width: 7rem;
  line-height: 2rem;
  border: 0.1rem solid #598edd;
  padding: 0.1rem;
}

.newsmth-plus .ubb-img-tab li div {
  font-size: 1.4rem;
}

.newsmth-plus .ubb-img {
  margin: 0.3rem;
  padding: 0.3rem;
  border: 0.1rem solid #598edd;
}

.newsmth-plus .ubb-img img {
  margin: 0.2rem;
}

.newsmth-plus #map_area {
  font-size: 1.4rem;
}

.newsmth-plus #map_canvas {
  height: 40rem;
}

.newsmth-plus #map_func {
  padding-top: 1rem;
}

.newsmth-plus #map_insert {
  margin-top: 0.5rem;
}

.newsmth-plus .map-map {
  width: 60rem;
  height: 40rem;
}
