html {
  -webkit-filter: unset !important;
  filter: unset !important;
  -moz-filter: unset !important;
  -ms-filter: unset !important;
  -o-filter: unset !important;
}

html body {
  font-size: 1.3rem;
  line-height: unset;
}

html #top10 ul li div {
  font-size: 1.4rem;
}

html * {
  max-width: 100% !important;
}

html #ban_ner {
  display: none;
}

html body #slider {
  height: unset;
  width: unset;
}

html body #slider div.preview {
  text-align: center;
  float: unset;
}

html body #slider div.pic {
  float: unset;
  text-align: center;
}

html body #slider div.preview a {
  display: unset;
}

html body #slider div.preview a img {
  width: 30%;
  height: unset;
}

html .u-title-1 {
  width: unset;
  padding-left: unset;
}

html .search ul li {
  height: unset;
}

/* html body #top10 ul li div {
      font-size: 1.4rem;
  } */

html #top10 {
  background-size: 0.4rem 2.9rem;
}

html .block h3 {
  background-size: 0.1rem 3.7rem;
}

html #ranking ul {
  background-size: 1.5rem 28rem;
}

html #ranking div h4 {
  background-size: 2.5rem 15rem;
}

html #top10 ul li {
  background-size: 0.9rem 2.5rem;
}

html #top10 h3 {
  background-size: 15.7rem 3.1rem;
}

html samp,
html .toggler {
  background-size: 47.3rem 4.1rem;
}

.ui-widget-content {
  background-size: 0.1rem 10rem;
}

.ui-widget-header {
  background-size: 50rem 10rem;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-size: 1rem 40rem;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-size: 1rem 40rem;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-size: 1rem 10rem;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background-size: 4rem 100rem;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  background-size: 0.1rem 40rem;
}

.ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-widget-content .ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-widget-header .ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-state-default .ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-state-active .ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-state-highlight .ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-size: 25.6rem 24rem;
}

.ui-widget-overlay {
  background-size: 4rem 10rem;
}

.ui-widget-shadow {
  background-size: 4rem 10rem;
}

a.jp-play {
  background-size: 20rem 40rem;
}

a.jp-play:hover {
  background-size: 20rem 40rem;
}

a.jp-pause {
  background-size: 20rem 40rem;
}

a.jp-pause:hover {
  background-size: 20rem 40rem;
}

a.jp-stop {
  background-size: 20rem 40rem;
}

a.jp-stop:hover {
  background-size: 20rem 40rem;
}

a.jp-previous {
  background-size: 20rem 40rem;
}

a.jp-previous:hover {
  background-size: 20rem 40rem;
}

a.jp-next {
  background-size: 20rem 40rem;
}

a.jp-next:hover {
  background-size: 20rem 40rem;
}

div.jp-seek-bar {
  background-size: 20rem 40rem;
}

div.jp-play-bar {
  background-size: 20rem 40rem;
}

div.jp-seeking-bg {
  background-size: 4.8rem 2.2rem;
}

a.jp-mute {
  background-size: 20rem 40rem;
}

a.jp-mute:hover {
  background-size: 20rem 40rem;
}

a.jp-unmute {
  background-size: 20rem 40rem;
}

a.jp-unmute:hover {
  background-size: 20rem 40rem;
}

a.jp-volume-max {
  background-size: 20rem 40rem;
}

a.jp-volume-max:hover {
  background-size: 20rem 40rem;
}

div.jp-volume-bar {
  background-size: 20rem 40rem;
}

div.jp-volume-bar-value {
  background-size: 20rem 40rem;
}

a.jp-full-screen {
  background-size: 20rem 40rem;
}

a.jp-full-screen:hover {
  background-size: 20rem 40rem;
}

a.jp-restore-screen {
  background-size: 20rem 40rem;
}

a.jp-restore-screen:hover {
  background-size: 20rem 40rem;
}

a.jp-repeat {
  background-size: 20rem 40rem;
}

a.jp-repeat:hover {
  background-size: 20rem 40rem;
}

a.jp-repeat-off {
  background-size: 20rem 40rem;
}

a.jp-repeat-off:hover {
  background-size: 20rem 40rem;
}

a.jp-shuffle {
  background-size: 20rem 40rem;
}

a.jp-shuffle:hover {
  background-size: 20rem 40rem;
}

a.jp-shuffle-off {
  background-size: 20rem 40rem;
}

a.jp-shuffle-off:hover {
  background-size: 20rem 40rem;
}

/* a.jp-video-play-icon {
      background: url("../img/jplayer.blue.monday/jplayer.blue.monday.video.play.png") 0 0 no-repeat;
  }

  div.jp-video-play:hover a.jp-video-play-icon {
      background: url("../img/jplayer.blue.monday/jplayer.blue.monday.video.play.png") 0 -100px no-repeat
  } */

html body #main {
  margin: 0.2rem 0.3rem;
  padding: unset;
}

html .pagination li {
  line-height: 2;
}

html body .b-content {
  padding: unset;
}

html body #bot_foot {
  width: unset;
}

html body .a-left {
  display: none;
}

html body .a-func {
  float: unset;
  font-size: unset;
}

html body .a-u-name {
  float: none;
  margin-left: unset;
}

html body .a-u-sex {
  float: unset;
  margin-right: unset;
}

html body #body .likes {
  margin: unset;
}

html .board-list td.title_12 {
  text-align: center;
}

html body .u-detail dd,
html body .u-info dd {
  width: unset;
}

.ad,
iframe,
#ban_ner,
#left_adv,
#sogou_banner {
  display: none !important;
}

.simple img.resizeable {
  width: unset !important;
}

.simple font.f006 {
  /* display: none; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.simple font.f006 ~ br,
.simple font.f006 ~ font.f006 {
  display: none;
}

.article p.simple {
  display: none;
}

.article.simple-article p.simple {
  display: unset;
}

html body .a-func li {
  margin-left: unset;
}

html body .a-func li samp {
  margin-right: unset;
  margin-left: 1rem;
}

/* .simple-article .a-head .a-func li samp.ico-pos-switch, .simple-article .a-head .a-func li samp.ico-pos-switch~a,
  .simple-article .a-head .a-func li samp.ico-pos-reply, .simple-article .a-head .a-func li samp.ico-pos-reply~a,
  .simple-article .a-head .a-func li samp.ico-pos-edit, .simple-article .a-head .a-func li samp.ico-pos-edit~a,
  .simple-article .a-head .a-func li samp.ico-pos-del, .simple-article .a-head .a-func li samp.ico-pos-del~a,
  .simple-article .a-head .a-func li samp.ico-pos-recomend, .simple-article .a-head .a-func li samp.ico-pos-recomend~a,
  .simple-article .a-head .a-func li samp.ico-pos-forward, .simple-article .a-head .a-func li samp.ico-pos-forward~a,
  .simple-article .a-head .a-func li samp.ico-pos-friend, .simple-article .a-head .a-func li samp.ico-pos-friend~a,
  .simple-article .a-head .a-func li samp.ico-pos-search, .simple-article .a-head .a-func li samp.ico-pos-search~a,
  .simple-article .a-head .a-func li samp.ico-pos-template, .simple-article .a-head .a-func li samp.ico-pos-template~a,
  .simple-article .a-head .a-func li samp.ico-pos-user, .simple-article .a-head .a-func li samp.ico-pos-user~a, */
.simple-article .origin {
  display: none;
}

.a-bottom {
  display: none;
}

.modifier-hide {
  display: none;
}
