.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

samp.ico-pos-hide {
  display: none;
}

#xlist > ul > li:last-child span.leaf {
  display: none;
}

span.new_mail {
  position: absolute;
  right: -1rem;
}

.board-list .title_3 {
  display: none;
}

#mp_wrapper .mp_left,
#mp_wrapper .mp_right {
  float: none;
}

#main .ad,
#main .full_ad,
#botadv_slider,
#body #sogou_banner {
  display: none;
}

#mp_wrapper > #hotspot,
#mp_wrapper .b_section .topics ul,
#mp_wrapper #ranking {
  height: auto;
}

#body .b_sectop10 {
  width: auto;
}

#body #top10 {
  width: auto;
  height: auto;
}

#mp_wrapper .b_recommend {
  /* height: unset; */
  width: unset;
}

#hotspot > #events_slider > .events_show,
#mp_wrapper > #hotspot > .acts,
#mp_wrapper #hotspot .topics {
  float: none;
  width: unset;
  height: unset;
}

#mp_wrapper #hotspot .topics p.textad {
  display: none;
}

#mp_wrapper #hotspot .topics ul li div {
  height: unset;
  width: unset;
}

#mp_wrapper .b_section {
  width: unset;
  margin-bottom: auto;
  padding-bottom: 0.3rem;
}

#mp_wrapper #ranking .boards {
  width: auto;
}

html body #ranking a.board {
  width: auto;
}

html body #ranking .hot_boards {
  border-left: unset;
  border-right: unset;
}

#bot_foot {
  width: auto;
}

body .title_1,
body .title_2,
body .title_3,
body .title_4,
body .title_5,
body .title_6,
body .title_7,
body .title_8,
body .title_9 {
  padding-left: 0;
  width: unset;
}

.t-pre-bottom {
  margin-bottom: 2rem;
}

#body .board-list .threads-tab {
  font-weight: unset;
}
